[Desktop Entry]
Name=DNSCryptClient
GenericName=Qt DNSCrypt proxy client
Type=Application
Categories=Utility;Network;
Icon=DNSCryptClient
Exec=DNSCryptClient
Terminal=false
StartupNotify=true
