[Unit]
Description=DNSCrypt client proxy test service
Documentation=man:dnscrypt-proxy(8)
After=network.target
Before=nss-lookup.target

[Install]
#WantedBy=multi-user.target

[Service]
Type=simple
NonBlocking=true

# Fill in the resolver name with one from dnscrypt-resolvers.csv file
ExecStart=/usr/sbin/dnscrypt-proxy -a 127.0.0.2:53535 -R %i
